@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f97316;
  --secondary: #f9b516;
  --accent: #22c55e;
  --background: #ffffff;
  --text: #1f2937; /* 기본 텍스트 색상 */
  --hover-primary: #2563eb;
  --hover-secondary: #ea580c;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.h1 {
  @apply text-2xl font-bold mb-4;
}

.h2 {
  @apply text-lg font-semibold p-4;
}

.section {
  @apply py-6;
}

.filter_container {
  @apply flex flex-wrap gap-3;
}

.filter__item {
  @apply px-4 py-2 inline-flex rounded-full border cursor-pointer;
}
